<div class="fixed-top">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="col-md-2">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/logo.png" />
      </a>
    </div>
    <div class="col-md-8">
      <input type="search" class="form-control form-control-sm" placeholder="Pesquise por ofertas..." #searchText (keyup)="search(searchText.value)"
      />
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let offer of offersObservable | async">
          <a [routerLink]="['offer',offer.id]" (click)="clearSearch()">
            <h4>
              <small>{{ offer.title }}</small>
            </h4>
            <h6 class="text-muted">
              <small>{{ offer.description | reducedDescription }}</small>
            </h6>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-1">
      <a routerLink='/purchase-order'>
        <img src="/assets/carrinho.png" />
      </a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink='/restaurants'>Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink='/diversion'>Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>