<div class="container">
  <div class="purchase-order">
    <form novalidate>

      <h5>Sua Compra</h5>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Super Burger
          <br /> Rodízio de Mini-hambúrger com opção de entrada.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          29.90
        </div>
      </div>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Estância das águas
          <br /> Diversão garantida com piscinas, trilhas e muito mais.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          31.90
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total do pedido: 61.80</h4>
        </div>
      </div>

      <h5>Dados de entrega</h5>

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control {{ addressValidPristine ? '' : (addressValid ? 'is-valid' : 'is-invalid') }}" placeholder="Endereço"
            autocomplete="off" minlength="5" [value]="address" #inputAddress (input)="updateAddress(inputAddress.value)" required>
          <div *ngIf="addressValidPristine == false">
            <div *ngIf="addressValid; else msgAddressInvalid">
              <small class="form-text text-success">Endereço válido</small>
            </div>
            <ng-template #msgAddressInvalid>
              <small class="form-text text-danger">Endereço inválido</small>
            </ng-template>
          </div>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control {{ numberValidPristine ? '' : (numberValid ? 'is-valid' : 'is-invalid') }}" placeholder="Número"
            autocomplete="off" minlength="1" [value]="number" #inputNumber (input)="updateNumber(inputNumber.value)" required>
          <div *ngIf="numberValidPristine == false">
            <div *ngIf="numberValid; else msgNumberInvalid">
              <small class="form-text text-success">Número válido</small>
            </div>
            <ng-template #msgNumberInvalid>
              <small class="form-text text-danger">Número inválido</small>
            </ng-template>
          </div>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control {{ complementValidPristine ? '' : (complementValid ? 'is-valid' : '') }}" placeholder="Complemento"
            autocomplete="off" [value]="complement" #inputComplement (input)="updateComplement(inputComplement.value)">
        </div>

      </div>

      <h5>Dados de pagamento</h5>

      <div class="form-row">

        <div class="form-group col-md-3">
          <select class="form-control {{ paymentValidPristine ? '' : (paymentValid ? 'is-valid' : 'is-invalid') }}" #selectedPayment
            (change)="changePayment(selectedPayment.value)">
            <option>Selecione uma opção</option>
            <option value="money" selected="{{payment == 'money' ? 'selected' : ''}}">Dinheiro</option>
            <option value="debit" selected="{{payment == 'debit' ? 'selected' : ''}}">Débito</option>
          </select>
          <div *ngIf="paymentValidPristine == false">
            <div *ngIf="paymentValid; else msgPaymentInvalid">
              <small class="form-text text-success">Forma de pagamento válida</small>
            </div>
            <ng-template #msgPaymentInvalid>
              <small class="form-text text-danger">Forma de pagamento inválida</small>
            </ng-template>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg" [disabled]="buttonState">Cofirmar compra</button>

    </form>
  </div>
</div>